@import './_mixins.scss';
@import './_colors.scss';
@import './_reset.scss';

/* layout setting */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  // scroll-behavior: smooth;
  color: $font-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  vertical-align: middle;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* font setting */
html {
  font-family: 'Noto Sans TC', 'Noto Serif TC', sans-serif, serif;
  font-style: normal;
  line-height: 150%;
}

h1,
h2,
h3,
h4,
h6,
p,
ul,
span {
  line-height: 150%;
}

a {
  line-height: 150%;
  text-decoration: unset;
  cursor: pointer;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}
